# Phase 1 (plain backend) dependencies
fastapi
uvicorn[standard]
streamlit
requests

qdrant-client
fastembed
sentence-transformers
beautifulsoup4
pymupdf
tiktoken

groq
python-dotenv
pydantic

deepeval
pytest
